.impression{
    padding-top: 160px;
    padding-bottom: 95px;

    
    &__word{
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #1BA0AB;
    }
    &__title{
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: #252B42;
        margin: 10px 0;
    }
    &__text{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #737373;
    }

}