.sector{
    padding-top: 160px;
    padding-bottom: 108px;

    &__span{
        width: 94px;
        height: 7px;
        background: #E74040;
    }
    &__title{
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: #252B42;
        margin: 35px 0;
    }
    &__text{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #737373;
        width: 350px;
        margin-bottom: 35px;
    }
    &__link{
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-weight: 700;
        color: #1BA0AB;
        display: flex;
        align-items: center;
        transition: 0.3s linear;
    }
    &__link:hover{
        text-shadow: 0px 0px 0.5px #1BA0AB;
    }
}
.sector .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}