.container{
    width: 1140px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;

}
button{
    cursor: pointer;
}
